.home{
    width: 100%;
    height: 100px;
    display: flex;
    background-color: rgb(154, 199, 160);
    text-align: center;
    
    h1{
        color: rgb(124, 187, 95);
        padding: 10px;
    }
    .icon{
        font-size: 10px;
    }
}
